main{
    background-color: #ff6b35;
}
h1{
    text-align: center;
    color: #ff6b35;
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.8rem;
}

label{
    font-weight: 600;
    color: #ff6b35;
    font-size: 0.9rem;
    margin-bottom: 5px; 
    display: block;
}
