body {
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
    margin: 0; /* Elimina márgenes por defecto */
}

main {
    background-color: #1e3c72 ;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(228, 3, 3, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #ff6b35;
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: 700;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-top: 5px;
    border: 1px solid #ff6b35;
    border-radius: 8px;
    background-color: #ff6b35;
    transition: all 0.3s ease;
    outline: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1e3c72;
    background-color: #1e3c72;
    box-shadow: 0 0 0 3px rgba(42, 82, 152, 0.2);
}

label {
    font-weight: 600;
    color: #ff6b35;
    font-size: 0.9rem;
    margin-bottom: 5px; /* Un poco más de espacio */
    display: block;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #1e3c72, #1e3c72);
    border: none;
    border-radius: 8px;
    color: #ff6b35;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}

input[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(30, 60, 114, 0.4);
}
